/* /src/Folder.css */

/* Folder Styling */
.folder {
    margin-bottom: 20px;
  }
  
  /* Folder Toggle Button */
  .folder .toggle {
    margin-right: 10px;
    background: rgb(17, 17, 17);
    border: none;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
  }
  
  /* Folder Contents */
  .folder-contents {
    margin-left: 20px;
    border-left: 1px dashed #ccc;
    padding-left: 10px;
  }
  